@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oswald:wght@200&display=swap');

body {
    font-family: Josefin-Sans, sans-serif;
    color: #393837;
    background-color: #ECE6DF;
    width: 100%;
    left: 0;
}

/* logo and header */

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Josefin-Sans, sans-serif;
    color: #ECE6DF;
}

#logo {
    text-align: center;
    font-size: 250%;
}
.dark a {
    text-decoration: none;
}
#menu {
    letter-spacing: 5px;
    list-style-type: none;
    font-size: 120%;
}

#menu li {
    text-decoration: none;
    text-align: center;
}

.nav {
    display: inline;
}

.nav > li > a{
    text-decoration: none;
    color:#ECE6DF;
}

.dark {
    background-color: #393837;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    color:#ECE6DF;
}


/*main body*/


