@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: Josefin-Sans, sans-serif;
    color: #121211;
    background-color: #ECE6DF;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

/* logo and header */

header {
    background-color:#0a0a09;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Josefin-Sans, sans-serif;
    color: #ECE6DF;
    padding: 2%;
    margin: 0;
}

#logo {
    text-align: center;
    font-size: 250%;
    text-decoration: none !important;
}

header > a {
    text-decoration: none;
}

#menu {
    letter-spacing: 5px;
    font-size: 120%;
}

#menu div {
    display: inline-block;
    width: 27%;
    text-align: center;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    float: right;
}

 #menu a {
    text-decoration: none;
    color:#ECE6DF;
    
 }

 #menu a:hover {
    text-decoration: underline;
    color:rgb(158, 96, 97);
 }

/*images*/

#menu-break {
    width: 100%;
    height: 5px;
    background-color:#ECE6DF;
}

.images {
    clear: both;
    display: inline-block;
}

.images > #image-one > img {
    width: 350px;
    height: 234px;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 30px;
}

.images > #image-two > img {
    width: 368px;
    height: 234px; 
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.images > #image-three > img {
    width: 388px;
    height: 234px; 
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 20px; 
}

#section-break {
    width: 100%;
    height: 40px;
}

/*footer*/

#footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    max-height: 10vh;
    bottom: 0;
    width: 100%;
    position: sticky;
}

.footer-icons {
    text-align: center;
    font-size: 150%;
}

.footer-icons > li {
    display: inline-block;
    width: 20%;
}

.footer-icons i {
    color:#ECE6DF !important;
    font-size: 130%;
    width: 100%;
    margin: 0;
    padding: 5%;
}

/*text*/

.heading {
    margin: 0 auto;
    width: 100%;

}

.heading > i {
    color:#121211;
}

.heading #text-heading {
    text-align: center;
    color:#121211;
    font-size: 170%;
}

.text {
    margin: 0 auto;
    width: 70%;
}

.text p {
    text-align: center;
    color:#121211;
    line-height: 20px;
    font-size: large;
    font-weight: bold;
}

#heading-break {
    width: 100%;
    height: 20px;
}

#text-break {
    height: 20px;
    width: 100%;
}

#second-text-break {
    height: 70px;
    width: 100%;
}

/*table*/

table, th, td {
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.times {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 170%;
}

#times-break {
    width: 100%;
    height: 40px;
}

#footer-break {
    width: 100%;
    height: 30px;
}

/*form*/

.form {
    background: url("https://cdn.pixabay.com/photo/2017/05/12/21/24/dslr-2308202_1280.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

#signup-heading {
    text-transform: Capitalize;
    text-align: center;
    top: 10px;
    padding: 40px;
    
}

.signup {
    text-align: center;
    font-size:x-large;
}

label {
    box-sizing: border-box;
    border: 3px solid rgb(100, 2, 4);
    background-color: rgb(255, 255, 255, 0.683);
    display: list-item;
    list-style: none;
    width: 300px;
    height: 40px;
    float: left;
    margin-left: 25%;
    border-radius: 8px;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    border: 3px solid rgb(100, 2, 4);
    background-color:rgba(255, 255, 255, 0.683);
    display: list-item;
    list-style: none;
    width: 300px;
    height: 40px;
    float: right;
    margin-right: 25%;
    border-radius: 8px;
}

.type {
    font-size: 1em;
    height: 40px;
    text-align: center;
}


.form-break {
    width: 70%;
    height: 30px;
}

input:hover {
    border: 3px solid rgb(63, 41, 42);
    background-color: #efddcb8a;
}

.join-button {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 3px solid rgb(100, 2, 4);
    background-color:rgb(255, 255, 255, 0.683);
    margin: 0 430px 0 430px;
    font-size: 1em;
    height: 40px;
    font-weight:bold;
    text-align: center;
}

.join-button:hover {
    background-color: rgba(56, 167, 76, 0.541);
    border:3px solid rgb(10, 9, 9);
}


















