@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin-Sans, sans-serif;
    color: #121211;
    background-color: #ECE6DF;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

/* logo and header */

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Josefin-Sans, sans-serif;
    color: #ECE6DF;
    background-color: #121211;
    padding: 3%;
    margin: 0;
}

#logo {
    text-align: center;
    font-size: 250%;
    text-decoration: none !important;
}

header > a {
    text-decoration: none;
}

hr {
    width: 100%;
    background-color:#ECE6DF;
    height: 20px;
}

#menu {
    letter-spacing: 5px;
    font-size: 120%;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    float: right;
}

 #menu a {
    text-decoration: none;
    color:#121211;
    
 }

 #menu a:hover {
    text-decoration: underline;
    color:rgb(57, 129, 129)
 }

/*images*/

#menu-break {
    width: 100%;
    height: 20px;
    background-color:#ECE6DF;
}

.images {
    clear: both;
    display: inline-block;
}

.images > #image-one > img {
    width: 350px;
    height: 234px;
    padding: 30px 50px 0 5px;
    margin-top: 20px;
}

.images > #image-two > img {
    width: 368px;
    height: 234px; 
    padding: 30px 20px 0 0;
    margin-top: 20px;
}

.images > #image-three > img {
    width: 388px;
    height: 234px; 
    padding: 30px 5px 0 50px;
    margin-top: 20px;  
}









